.navbar{
  padding: 10px 0;
  background-color: #1e94d2;
}

.navbar-toggle{
  color: #fff;
}

.navbar-menu{
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  z-index: 9998;
  position: fixed;
  padding: 0;
  list-style: none;
  background-color: #3a3633;

}

.navbar-usuario{
  padding: 15px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #525151;
}

.navbar-menuitem{
  padding: 15px;
}

.navbar-menuitem a{
  color: #c0bbb7;
  text-decoration: none;
}


.navbar-menuitem a:hover {
  color: #fff;
}
