<div class="contanier">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos" [(ngModel)]="lancamento.tipo"
          #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" name="vencimento"
           #vencimento="ngModel" [showIcon]="false"
           [(ngModel)]="lancamento.dataVencimento" required></p-calendar>

           <app-message [control]="vencimento" error="required"
            text="Informe uma Data de Vencimento !"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento"
          [(ngModel)]="lancamento.dataPagamento" ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição {{ descricao.errors | json }}</label>
        <input pInputText type="text" name="descricao" #descricao="ngModel"
              required minlength="5" [(ngModel)]="lancamento.descricao">

        <app-message [control]="descricao" error="required"
          text="Informe a descrição !"></app-message>
        <app-message [control]="descricao" error="minlength"
          text="O mímino de {{ descricao.errors?.minlength?.requiredLength }} caracteres !"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" name="valor" required
          [(ngModel)]="lancamento.valor"
          currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', allowNegative: false }">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria {{ cat.value }}</label>
        <p-dropdown name="categoria" [options]="categorias" #cat [filter]="true" required
          placeholder="Selecione" [(ngModel)]="lancamento.categoria.id"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" [filter]="true" required
           placeholder="Selecione" [(ngModel)]="lancamento.pessoa.id"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        &nbsp;
        <button pButton type="button" label="Novo" class="ui-button-success"></button>
        &nbsp;
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
